<div class="alert alert-success" *ngIf="success">Password Changed </div>
<div class="alert alert-danger" *ngIf="error!=null">{{error}}</div>

<form #f=ngForm>
    <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label>Old Password</mat-label>
        <input matInput ngModel type="Password" name="oldpassword" #oldpassword=ngModel required>
      </mat-form-field>
      <div *ngIf="f.form?.controls?.oldpassword?.invalid && oldpassword?.touched">Old Password is required</div>
    
    <mat-form-field class="example-full-width"  appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput ngModel type="Password" name="password" #pass=ngModel required>
  </mat-form-field>
  <div *ngIf="f.form?.controls?.password?.invalid && pass?.touched">Password is required</div>
  <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput ngModel type="Password" name="confirm" #confirm=ngModel required>
    </mat-form-field>
  <div *ngIf="f.form?.controls?.confirm?.invalid && confirm?.touched">Confirm Password is required</div>
  <div *ngIf="confirm?.value != pass?.value">Passworrd not equal to Confirm Password </div>

  <button  mat-button   mat-raised-button color="primary" [disabled]="f.form?.status=='INVALID' || confirm?.value != pass?.value ||submitSpinner"
  (click)="onSubmit(f)" cdkFocusInitial
  >Save
  <mat-spinner id="spinnerSubmit" *ngIf="submitSpinner" [diameter]="25" ></mat-spinner>
</button>
<button type="button" class="btn btn-secondary"  (click)="doBack()">Cancel</button>
</form>