<p>administrator works!</p>

<ul>
    <li>
      <a [routerLink]="'.'" routerLinkActive="active"> Dashboard </a>
    </li>
    <li>  
      <a [routerLink]="'Admin'" routerLinkActive="active"> Admin </a>
    </li>
    <li>
      <a [routerLink]="'Vendor'" routerLinkActive="active"> Vendor </a>
    </li>
    <li>
      <a [routerLink]="'Operator'" routerLinkActive="active"> Operator </a>
    </li>
  </ul>
************************** <br> 
    <router-outlet></router-outlet>
    <br>**************************